In [3]:
import pandas as pd

url = 'http://batsftp.bios.edu/BATS/bottle/bats_pigments.txt'
yearly_co2_emmissions = pd.read_csv('yearly_co2_emissions_1000_tonnes.csv')

In [263]:
# List of countries to target
countries = 'United States','United Kingdom','China','India','Germany','Mexico','Poland','France','Canada','Saudi Arabia','United Arab Emirates'

# Loop to pull target coutnries from master database
container = yearly_co2_emmissions.loc[yearly_co2_emmissions['country'] == countries[0]]
for i in countries[1:]:
    select = yearly_co2_emmissions.loc[yearly_co2_emmissions['country'] == i]
    container = pd.concat([container,select])
# Select target years
c = container['country'] # select coutnries column
data = container.iloc[:,-100:] # select desired years
new_df = pd.concat([c,data],1) # new data frame
# Transpose dataframe // in case of issues feeding to model
trans = new_df.transpose()
new_cols = test.iloc[0]
t_df = test.iloc[1:]
t_df.columns = new_cols
t_df = t_df.astype(object).convert_objects()  # convert away from object into float
# new_df and t_df are primary cleaned datasets
t_df.iloc[0] # data for target countries in year 1915

C:\Users\Matt\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use DataFrame.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.

country
United States           1370000.0
United Kingdom           490000.0
Germany                  463000.0
India                     36300.0
China                     16100.0
France                   103000.0
Canada                    61200.0
Saudi Arabia                  NaN
United Arab Emirates          NaN
Name: 1915, dtype: float64

In [264]:
new_df

,country,1915,1916,1917,1918,1919,1920,1921,1922,1923,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
183,United States,1370000.0,1520000.0,1670000.0,1750000.0,1480000.0,1740000.0,1420000.0,1430000.0,1900000.0,...,5790000.0,5700000.0,5790000.0,5610000.0,5260000.0,5400000.0,5290000.0,5120000.0,5160000.0,5250000.0
182,United Kingdom,490000.0,507000.0,502000.0,467000.0,457000.0,470000.0,320000.0,429000.0,455000.0,...,543000.0,541000.0,528000.0,521000.0,472000.0,493000.0,448000.0,469000.0,458000.0,420000.0
35,China,16100.0,18000.0,19900.0,21100.0,24300.0,26800.0,25300.0,26700.0,32200.0,...,5900000.0,6530000.0,7030000.0,7550000.0,8000000.0,8780000.0,9730000.0,10000000.0,10300000.0,10300000.0
75,India,36300.0,36700.0,38400.0,43200.0,47200.0,38200.0,41100.0,40400.0,41600.0,...,1220000.0,1300000.0,1410000.0,1570000.0,1740000.0,1720000.0,1840000.0,2020000.0,2030000.0,2240000.0
63,Germany,463000.0,501000.0,525000.0,504000.0,388000.0,430000.0,474000.0,456000.0,332000.0,...,797000.0,816000.0,781000.0,781000.0,722000.0,759000.0,732000.0,740000.0,757000.0,720000.0
109,Mexico,14300.0,17200.0,26200.0,30700.0,41100.0,76300.0,90400.0,85600.0,72100.0,...,466000.0,479000.0,481000.0,493000.0,476000.0,464000.0,484000.0,496000.0,490000.0,480000.0
136,Poland,94800.0,109000.0,121000.0,102000.0,2730.0,76400.0,75000.0,71800.0,52600.0,...,303000.0,319000.0,314000.0,315000.0,298000.0,316000.0,317000.0,300000.0,302000.0,286000.0
59,France,103000.0,110000.0,122000.0,109000.0,116000.0,152000.0,138000.0,163000.0,184000.0,...,385000.0,376000.0,369000.0,366000.0,352000.0,353000.0,332000.0,333000.0,334000.0,303000.0
30,Canada,61200.0,76500.0,85300.0,89600.0,76200.0,84400.0,80500.0,69300.0,93100.0,...,557000.0,544000.0,554000.0,561000.0,537000.0,535000.0,537000.0,517000.0,517000.0,537000.0
144,Saudi Arabia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,398000.0,433000.0,388000.0,430000.0,469000.0,518000.0,500000.0,565000.0,541000.0,601000.0
181,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,116000.0,124000.0,136000.0,157000.0,168000.0,161000.0,165000.0,176000.0,171000.0,211000.0

In [265]:
t_df

country,United States,United Kingdom,Germany,India,China,France,Canada,Saudi Arabia,United Arab Emirates
1915,1370000.0,490000.0,463000.0,36300.0,16100.0,103000.0,61200.0,NaN,NaN
1916,1520000.0,507000.0,501000.0,36700.0,18000.0,110000.0,76500.0,NaN,NaN
1917,1670000.0,502000.0,525000.0,38400.0,19900.0,122000.0,85300.0,NaN,NaN
1918,1750000.0,467000.0,504000.0,43200.0,21100.0,109000.0,89600.0,NaN,NaN
1919,1480000.0,457000.0,388000.0,47200.0,24300.0,116000.0,76200.0,NaN,NaN
1920,1740000.0,470000.0,430000.0,38200.0,26800.0,152000.0,84400.0,NaN,NaN
1921,1420000.0,320000.0,474000.0,41100.0,25300.0,138000.0,80500.0,NaN,NaN
1922,1430000.0,429000.0,456000.0,40400.0,26700.0,163000.0,69300.0,NaN,NaN
1923,1900000.0,455000.0,332000.0,41600.0,32200.0,184000.0,93100.0,NaN,NaN
1924,1700000.0,476000.0,452000.0,44500.0,35100.0,207000.0,77400.0,NaN,NaN
1925,1740000.0,450000.0,458000.0,44000.0,33200.0,214000.0,75300.0,NaN,NaN
1926,1890000.0,247000.0,414000.0,43800.0,29600.0,214000.0,84800.0,NaN,NaN
1927,1850000.0,467000.0,481000.0,46000.0,33600.0,213000.0,92100.0,NaN,NaN
1928,1830000.0,438000.0,505000.0,44200.0,34100.0,212000.0,93900.0,NaN,NaN
1929,1960000.0,461000.0,539000.0,46000.0,35800.0,234000.0,99100.0,NaN,NaN
1930,1740000.0,441000.0,462000.0,46800.0,38000.0,238000.0,94400.0,NaN,NaN
1931,1480000.0,413000.0,386000.0,42900.0,40300.0,218000.0,75900.0,NaN,NaN
1932,1260000.0,396000.0,348000.0,39800.0,38600.0,192000.0,70300.0,NaN,NaN
1933,1350000.0,392000.0,365000.0,39100.0,42300.0,200000.0,69500.0,NaN,NaN
1934,1440000.0,424000.0,409000.0,43700.0,49300.0,202000.0,80000.0,NaN,NaN
1935,1490000.0,429000.0,453000.0,45600.0,57700.0,196000.0,78900.0,NaN,NaN
1936,1710000.0,454000.0,500000.0,44900.0,65100.0,198000.0,86200.0,7.33,NaN
1937,1790000.0,469000.0,564000.0,49700.0,60600.0,218000.0,93600.0,25.70,NaN
1938,1510000.0,449000.0,602000.0,55600.0,55300.0,202000.0,85600.0,205.00,NaN
1939,1670000.0,453000.0,649000.0,54400.0,67200.0,195000.0,95100.0,1650.00,NaN
1940,1870000.0,476000.0,655000.0,57700.0,86200.0,138000.0,109000.0,2150.00,NaN
1941,2040000.0,470000.0,661000.0,59000.0,108000.0,120000.0,120000.0,1810.00,NaN
1942,2200000.0,469000.0,668000.0,58900.0,114000.0,123000.0,131000.0,1900.00,NaN
1943,2270000.0,455000.0,680000.0,51300.0,97400.0,125000.0,138000.0,1990.00,NaN
1944,2440000.0,442000.0,601000.0,52500.0,97900.0,80100.0,141000.0,3260.00,NaN
...,...,...,...,...,...,...,...,...,...
1985,4490000.0,560000.0,1050000.0,427000.0,1970000.0,401000.0,422000.0,173000.00,49900.0
1986,4500000.0,569000.0,1050000.0,458000.0,2070000.0,386000.0,405000.0,205000.00,47200.0
1987,4690000.0,572000.0,1040000.0,488000.0,2210000.0,377000.0,431000.0,191000.00,47700.0
1988,4890000.0,570000.0,1030000.0,528000.0,2370000.0,372000.0,456000.0,203000.00,48400.0
1989,4960000.0,582000.0,1020000.0,579000.0,2410000.0,391000.0,463000.0,204000.00,54500.0
1990,4820000.0,556000.0,1010000.0,619000.0,2440000.0,376000.0,435000.0,186000.00,52000.0
1991,4820000.0,567000.0,930000.0,658000.0,2570000.0,391000.0,427000.0,268000.00,57000.0
1992,4910000.0,556000.0,892000.0,699000.0,2690000.0,366000.0,441000.0,286000.00,58100.0
1993,5030000.0,546000.0,878000.0,724000.0,2880000.0,360000.0,446000.0,314000.00,66000.0
1994,5090000.0,547000.0,866000.0,765000.0,3060000.0,338000.0,457000.0,308000.00,73100.0
1995,5130000.0,538000.0,864000.0,812000.0,3320000.0,349000.0,468000.0,235000.00,70600.0
1996,5250000.0,551000.0,890000.0,882000.0,3460000.0,375000.0,479000.0,259000.00,41100.0
1997,5370000.0,527000.0,862000.0,918000.0,3470000.0,352000.0,495000.0,216000.00,41600.0
1998,5400000.0,532000.0,855000.0,936000.0,3320000.0,377000.0,507000.0,208000.00,81500.0
1999,5500000.0,531000.0,822000.0,996000.0,3320000.0,369000.0,515000.0,226000.00,78400.0
2000,5690000.0,542000.0,830000.0,1030000.0,3410000.0,362000.0,534000.0,297000.00,113000.0
2001,5600000.0,546000.0,854000.0,1040000.0,3490000.0,378000.0,528000.0,297000.00,101000.0
2002,5640000.0,529000.0,830000.0,1050000.0,3850000.0,375000.0,519000.0,326000.00,84700.0
2003,5680000.0,540000.0,823000.0,1100000.0,4540000.0,381000.0,553000.0,327000.00,107000.0
2004,5760000.0,539000.0,817000.0,1150000.0,5230000.0,384000.0,552000.0,396000.00,113000.0
2005,5790000.0,543000.0,797000.0,1220000.0,5900000.0,385000.0,557000.0,398000.00,116000.0
2006,5700000.0,541000.0,816000.0,1300000.0,6530000.0,376000.0,544000.0,433000.00,124000.0
2007,5790000.0,528000.0,781000.0,1410000.0,7030000.0,369000.0,554000.0,388000.00,136000.0
2008,5610000.0,521000.0,781000.0,1570000.0,7550000.0,366000.0,561000.0,430000.00,157000.0
2009,5260000.0,472000.0,722000.0,1740000.0,8000000.0,352000.0,537000.0,469000.00,168000.0
2010,5400000.0,493000.0,759000.0,1720000.0,8780000.0,353000.0,535000.0,518000.00,161000.0
2011,5290000.0,448000.0,732000.0,1840000.0,9730000.0,332000.0,537000.0,500000.00,165000.0
2012,5120000.0,469000.0,740000.0,2020000.0,10000000.0,333000.0,517000.0,565000.00,176000.0
2013,5160000.0,458000.0,757000.0,2030000.0,10300000.0,334000.0,517000.0,541000.00,171000.0
2014,5250000.0,420000.0,720000.0,2240000.0,10300000.0,303000.0,537000.0,601000.00,211000.0